.form-html {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 600px) {
  .form-html {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .form-html {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form-html .form-actions {
  grid-column: 1 / -1;
}

.form-html > .form-group {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.errors {
    color: #EF9A9A;
    list-style: none;
    padding: 0;
    margin: 0;
}

.delete-button {
    border: 1px solid;
    outline: none;
    color: brown;
    background: #fff;
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: box-shadow 0.25s ease, transform 0.15s ease;
}

.delete-button:hover {
    box-shadow: 0 4px 10px rgba(165, 42, 42, 0.4);
    transform: scale(1.05);
}