.form-html {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.form-html .form-actions {
    grid-column: span 3;
}

.errors {
    color: #EF9A9A;
    list-style: none;
    padding: 0;
    margin: 0;
}