body {
    margin: 0;
    font-family: cursive;
    display: flex;

}

.admin-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    position: relative;
}

.sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    padding: 8px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
    padding-left: 12px;
}

.dropdown-menu {
    background-color: #34495e;
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

.background {
    background-color: #34495e;
}
.dropdown-menu li a {
    font-size: 0.9em;
}

.dropdown.open > .dropdown-menu {
    display: block;
}

.content {
    flex-grow: 1;
    padding: 0 40px;
    background-color: #ecf0f1;
    height: 100%;
    overflow-x: auto;
}


h1 {
    margin-bottom: 20px;
}

.category-header {
    text-align: right;
    margin-bottom: 15px;
}

.btn {
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
}

.btn-add {
    background-color: #2c3e50;
    color: #fff;
}
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 13px;
}

.btn-edit {
    background-color: #ffc107;
    color: #000;
    margin-right: 5px;
}

.btn-delete {
    background-color: #dc3545;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f9f9f9;
}

.form-wrapper {
    margin: 50px auto;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.form-wrapper h2 {
    text-align: center;
    margin-bottom: 25px;
}

.form-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-row label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}

.form-row input,
.form-row textarea,
.form-row select {
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.form-actions {
    text-align: right;
}

.errors {
    padding: 0 19px;
    & li {
        font-size: 11px;
        color: red;
    }
}

.tabs {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tab-labels {
    display: flex;
    border-bottom: 1px solid #000
}

.tab-labels label {
    flex: 1;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.tab-labels label:hover {
    background: #000000;
    color: white;
}

.tabs > input[type="radio"] {
    display: none;
}

.tab-content {
    display: none;
    padding: 1.5rem;
}

input#tab1:checked ~ .tab-labels label[for="tab1"],
input#tab2:checked ~ .tab-labels label[for="tab2"],
input#tab3:checked ~ .tab-labels label[for="tab3"],
input#tab4:checked ~ .tab-labels label[for="tab4"] {
    border-bottom: 2px solid #000000;
}

input#tab1:checked ~ .content1 #content1,
input#tab2:checked ~ .content1 #content2,
input#tab3:checked ~ .content1 #content3,
input#tab4:checked ~ .content1 #content4 {
    display: block;
}